/*TODO must meet accessability / etc linked in specification*/
/*referenced: https://forum.squarespace.com/topic/9375-how-do-i-change-the-background-color-of-a-single-page-using-css/ */
body {
  background-color: #D4C3D1;
  text-color: #331A2F;
}

#navbar {
  /* make links centered at top */
  background-color: #5E4859;
  align-content: center;
}

header {
   color: #331A2F;
   text-align: center;
}

#me {
  align-content: center;
}

footer {
  text-align: center;
  content-align: center;
}
