/*TODO must meet accessability / etc linked in specification*/
/*referenced: https://forum.squarespace.com/topic/9375-how-do-i-change-the-background-color-of-a-single-page-using-css/ */
body {
  background-color: #F5DDE0;
  text-color: #D0637C;
}

#navbar {
  /* make links centered at top */
  background-color: #EABEC3;
  align-content: center;
  text-align: center;
}

header {
   color: #331A2F;
}

#me {
  align-content: center;
}

footer {
  text-align: center;
  content-align: center;
}
