body{
  background-color: #FFF0F5;
  color: #4A4A4A;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  background-color: #FFC1CC;
  padding: 20px;
  text-align: center;
}

nav a{ 
  color: #FFC1CC;
  margin: 0 15px;
  font-weight: bold;
}

h1, h2{
  color: #FF91A4;
  text-align: center;
}

p{
  font-size: 18px;
  margin: 20px;
}

footer{
  text-align: center;
  padding: 30px;
  font-size: 14px;
}
